/* Style the tab */
.tab__links-wrapper {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab__links-wrapper button {
  background-color: #f1f1f1;

  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab__links-wrapper button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab__links-wrapper button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab__content {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
}
